.header-body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header-section{
    background: linear-gradient(rgba(227, 230, 23, 0.384), rgba(244, 247, 245, 0.075));
    height: 5vh;
    border-radius: 20px;
}
