.footer-body{
    margin: 0;
    padding: 0;
}

.footer-section{
    background: linear-gradient(rgba(227, 230, 23, 0.384), rgba(244, 247, 245, 0.075));
    width: 100%;
    height: 10vh;  
    margin-top: 1rem;
}